.intro_box {
  background-color: var(--clr-dark-red);
  margin: 0 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.intro_box-mini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-white);
}
.headline_images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.headline_img {
  width: 19rem;
}
.headline_low-border {
  width: 10rem;
  max-height: 2.5rem;
}
.intro_col-1 {
  margin: 1rem 0.5rem;
}
.intro_img {
  border-radius: 1rem;
}
.intro_col-2 {
  align-self: start;
  padding: 0rem 1rem 1rem 1rem;
  margin: 1rem 0;
  background-image: url(../../images/murugan2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.intro_headline {
  font-size: var(--size-lg);
  font-weight: 500;
  margin: 1rem 0;
  color: var(--clr-white);
}
.intro_headline span {
  color: var(--clr-golden-yellow);
}
.intro_para {
  line-height: 1.7rem;
  word-spacing: 0.1rem;
}
.intro_read-btn {
  margin: 1rem 0;
}
.read-btn {
  color: var(--clr-dark-red);
  text-decoration: none;
  font-weight: 700;
}
.omm_img-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.omm_img {
  width: 4rem;
  transition: transform 0.3s;
}
.omm_img:hover {
  transform: translateY(-1.5rem);
}

/* xs */
/* @media (min-width: 475px) {} */
/* sm */
/* @media (min-width: 640px) {} */
/* md */
@media (min-width: 768px) {
  .intro_box {
    margin: 3rem 1.5rem;
  }
  .intro_col-2 {
    margin: 1rem;
  }
  .headline_img {
    width: 22rem;
  }
  .headline_low-border {
    width: 14rem;
    max-height: 3.5rem;
  }
  .intro_box-mini {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 2rem 0.5rem;
    border-radius: 1rem;
  }
  .omm_img {
    width: 5rem;
  }
}
/* lg */
@media (min-width: 1024px) {
  .intro_box {
    margin: 3rem 2rem;
  }
  .headline_img {
    width: 27rem;
  }
  .headline_low-border {
    width: 16rem;
    max-height: 4rem;
  }
}
/* xl */
@media (min-width: 1280px) {
  .headline_img {
    width: 30rem;
  }
  .intro_col-2 {
    padding: 0rem 1rem 10rem 1rem;
  }
  .omm_img {
    width: 6rem;
  }
}
/* xxl */
/* @media (min-width: 1536px) {} */
