#deities {
  background-image: url(../../images/murugan2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.headline_deities {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: var(--clr-white);
}
.headline_deities:hover {
  color: var(--clr-light-red);
}
.heading_deities {
  font-size: var(--size-xl);
  font-weight: 600;
}

.heading_deities span {
  color: var(--clr-light-red);
}

.headline_deities_low-border {
  width: 6rem;
  max-height: 2rem;
}

.deities_out-box {
  margin-bottom: 3rem;
  max-width: 50rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  background-color: var(--clr-dark-red);
}

.deities_in-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
}

.god_box {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.god_box img {
  width: 100%;
  border-radius: 1rem;
  display: block;
  transition: transform 0.5s;
  height: 100%;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--clr-saffron-orange));
  border-radius: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2.5rem;
  transition: height 0.5s;
}

.layer h3 {
  font-size: var(--size-base);
  font-weight: 500;
}

.god_box:hover img {
  transform: scale(1.1);
}

.god_box:hover .layer {
  height: 100%;
}

/* xs */
@media (min-width: 475px) {
  .heading_deities {
    font-size: var(--size-2xl);
  }

  .headline_deities_low-border {
    width: 7rem;
  }

  .layer h3 {
    font-size: var(--size-base);
    font-weight: 500;
  }
}

/* sm */
@media (min-width: 640px) {
  .heading_deities {
    font-size: var(--size-3xl);
  }

  .headline_deities_low-border {
    width: 12rem;
  }

  .layer h3 {
    font-size: var(--size-xl);
    font-weight: 600;
  }
}

/* md */
@media (min-width: 768px) {
  .heading_deities {
    font-size: var(--size-4xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .heading_deities {
    font-size: var(--size-5xl);
  }

  .headline_deities_low-border {
    width: 13rem;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */
/* xxl */
/* @media (min-width: 1536px) {} */
