* {
  box-sizing: border-box;
}

#events {
  background-image: url(../../images/murugan2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.headline_events {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: var(--clr-white);
  transition: color 0.5s;
}
.headline_events:hover {
  color: var(--clr-light-red);
}
.heading_events {
  font-size: var(--size-2xl);
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.heading_events span {
  color: var(--clr-light-red);
}

.headline_events_low-border {
  width: 7rem;
  max-height: 2rem;
}
.eve_btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.eve-btn {
  background-color: var(--clr-red);
  color: var(--clr-white);
  font-size: var(--size-lg);
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.7rem 2rem;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(245, 70, 5, 0.5), 0 6px 6px rgba(235, 70, 5, 0.5),
    0 0 100px -10px var(--clr-dark-red);
  transition: all 0.5s;
}
.eve-btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 28px rgba(160, 40, 0, 0.25),
    0 10px 10px rgba(160, 40, 0, 0.22), 0 0 120px -10px var(--clr-dark-red);
}
/* Slideshow container */
.slideshow-container {
  max-width: 70rem;
  position: relative;
  margin-bottom: 2rem;
  border: 0.2rem solid var(--clr-light-red);
  border-radius: 1.5rem;
  padding: 0.2rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  border-radius: 1rem;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 1rem;
  color: var(--clr-white);
  font-weight: bold;
  font-size: 1.125rem;
  transition: 0.6s ease;
  border-radius: 0 0.25rem 0.25rem 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.25rem 0 0 0.25rem;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: var(--clr-white);
  font-size: var(--size-base);
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  width: auto;
  text-align: center;
  background-color: var(--clr-dark-red);
  border-radius: 3rem;
  opacity: 0.7;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--clr-white);
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

/* xs */
@media (min-width: 475px) {
  .heading_events {
    font-size: var(--size-2xl);
  }

  .headline_events_low-border {
    width: 7rem;
  }

  .text {
    font-size: var(--size-lg);
  }
}

/* sm */
@media (min-width: 640px) {
  .heading_events {
    font-size: var(--size-3xl);
  }

  .headline_events_low-border {
    width: 12rem;
  }

  .text {
    font-size: var(--size-xl);
  }
}

/* md */
@media (min-width: 768px) {
  .heading_events {
    font-size: var(--size-4xl);
  }

  .text {
    font-size: var(--size-2xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .heading_events {
    font-size: var(--size-5xl);
  }

  .headline_events_low-border {
    width: 13rem;
    margin-bottom: 1rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .slideshow-container {
    max-width: 56rem;
  }
}
/* xxl */
/* @media (min-width: 1536px) {} */
