#officials {
  background-image: url(../../images/murugan2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.headline_officials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: var(--clr-white);
  transition: color 0.5s;
}
.headline_officials:hover {
  color: var(--clr-light-red);
}

.heading_officials {
  font-size: var(--size-xl);
  font-weight: 600;
}

.heading_officials span {
  color: var(--clr-light-red);
}

.headline_officials_low-border {
  width: 6rem;
  max-height: 2rem;
}

.officials_out-box {
  margin-bottom: 3rem;
  max-width: 22rem;
  padding: 2rem 1rem;
  border-radius: 1rem;
  background-color: var(--clr-dark-red);
}

.officials_in-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
  /* margin-top: 2rem; */
}

.officials_box {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.officials_box img {
  width: 100%;
  border-radius: 1rem;
  display: block;
  transition: transform 0.5s;
  height: 100%;
}
.officials_box:hover img {
  transform: scale(1.1);
}

.officials_box:hover .layer {
  height: 100%;
}

.layer p {
  font-size: var(--size-sm);
  font-weight: 700;
  color: var(--clr-light-red);
  padding-top: 3rem;
}

/* xs */
@media (min-width: 475px) {
  .heading_officials {
    font-size: var(--size-2xl);
  }

  .headline_officials_low-border {
    width: 7rem;
  }
  .officials_out-box {
    max-width: 28rem;
    padding: 2rem 3.7rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .heading_officials {
    font-size: var(--size-3xl);
  }

  .headline_officials_low-border {
    width: 12rem;
  }
  .officials_out-box {
    max-width: 60rem;
    padding: 2rem 1rem;
  }
}

/* md */
@media (min-width: 768px) {
  .heading_officials {
    font-size: var(--size-4xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .heading_officials {
    font-size: var(--size-5xl);
  }

  .headline_officials_low-border {
    width: 13rem;
    margin-bottom: 1rem;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */
/* xxl */
/* @media (min-width: 1536px) {} */
